* {
    border: none;
    padding: 5px;
    margin: 5px ;
    box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 
  font-family: sans-serif;
  background-color: black;
  color: white;
  background-image: url('../images/denim.png');
}

/* style the header */

header {
    background-color: rgb(255, 0, 0);
    position: sticky;
    top: 0;
    text-align: center;
}

#main-logo {
    width: 300px;
    padding: 10px 0;
}

/*main section styles*/

#character-nav{
    text-align: center; 
    background-color: rgb(139, 101, 101);

    /* add a background image to the nav element */
    background-image: url('../images/marvelspread.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: overlay;
}

.char {
    list-style-type: none;
    transition: .3s;
}

.char li h5 {
    padding:  14px 8px;

}

.char li a {
    text-decoration: none;
    color: white;
}

.char li {
    display: inline-block;
    height: 320px;
    margin: 10px 8px;
    

    background-color: black;
    text-align: left;
    overflow: hidden;
}

.sprites {
    width: 150px;
    height: 150px;

    background-image: url('../images/sonicSprites.png');
}

.sprites:hover {
    background-position-y: -150px !important;
    transition: .4s;
}

#tails {
    background-position: -150px 0;
}

#knuckles {
    background-position: -300px 0;
}

#amy {
    background-position: -450px 0;
}

#shadow {
    background-position: -600px 0;
}

#rouge {
    background-position: -750px 0;
}

.red-bumper {
    height: 6px;
    background-color: red;
}

.char li img{
    width: 150; cursor: pointer;
}

article {
    padding: 20px;
}

article h3{
    font-size: 2em;
    text-align: center;
    margin-bottom: 14px;
}

article p{
width: 80%;
font-size: 18px;
line-height: 1.2;
text-align: inherit;
margin: 0 auto;
}

/*style the footer*/

footer {
    color: white;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(90, 90, 90);
}

.stick_footer {
    position: sticky;
    top: 100%;

    height: 80px;
}

/* light box styles*/

.lightbox {
    display:none;
    width: 100vw; /*viewport width = width of the browser window */
    height: 100vh; /*viewport height = height of the browser window */

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.85);
    background-repeat: no-repeat;

    background-position: 45px bottom;
    background-size: 60vh;
    
}

.lb_close {
    color: white;
    font-size: 2em;
    text-decoration: none;
    position: relative;
    top:20px;
    left:95%;
    font-weight: bolder;
}

.lb_close:hover {
    opacity: 0.5;
}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading {
    text-align: left;
}

.lb_text{
    line-height: 1.8;
    margin-left: 0;
    padding-top: 2em;
}

#lightBox {
    background-image: url('../images/Cap_LB_Bg.png');
}

#lightBox2 {
    background-image: url('../images/Thor_LB_Bg.png');
}

/* Toggle lightbox on*/
.lightbox:target {
    display: block;
}

/* .lightbox#lightBox { display: block ) */